/*
* LEGEND - Iconic Coming Soon Template
* Build Date: January 2016
* Last Update: 16th November 2017
* Author: Madeon08
* Copyright (C) 2018 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/

/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Home
    3. More Informations
    4. Newsletter
    5. Contact
    6. Social Icons
    7. Footer/Copyright
    8. Media Queries
*/

/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */

/* http://bourbon.io/ Sass Mixin Library */
@import "bourbon";

// colors, fonts, sizes etc...
@import "vars";

// custom mixins
@import "mixins";

/* custom CSS files */
@import "font-awesome.min.css";
@import "ionicons.min.css";
@import "bootstrap.min.css";
@import "animate.css";
@import "photoswipe.css";
@import "default-skin/default-skin.css";
@import "jquery.mCustomScrollbar.css";
@import "vegas.css";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,600,700|Raleway:400,200,600|Pacifico");

/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------- */
/* Preloader styles .................... */
/* ------------------------------------- */

#loading {
    width: 100vw;
    height: 100vh;
    background: $ebony-clay;
    position: fixed;
    z-index: 999;

    #preloader {
        position: relative;
        width: 100%;
        height: 80px;
        top: calc(50% - 50px);
        text-align: center;
        margin: 0 auto;

        &:after {
            content: "Henri-Stéphane & Jemima Rei";
            /* Text under the circles */
            position: absolute;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: lighten($shark, 15%);
            letter-spacing: 1px;
            font-family: $montserrat-family;
            top: 90px;
            width: 100%;
            left: 0;
            right: 0;
            height: 1px;
            text-align: center;
        }

        span {
            position: absolute;
            border: 4px solid $caribbean-green;
            // border-top: 4px solid transparent;
            border-radius: 100%;

            &:nth-child(1) {
                width: 80px;
                height: 80px;
                left: calc(50% - 40px);
                animation: spin-1 1s infinite $ease-in-out-cubic;
            }

            &:nth-child(2) {
                top: 20px;
                left: calc(50% - 20px);
                width: 40px;
                height: 40px;
                animation: spin-2 1s infinite $ease-in-out-cubic;
            }
        }
    }
}

@keyframes spin-1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}


@keyframes spin-2 {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}


/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */

body {
    background: $ebony-clay;
    font-family: $open-family;
    color: $white;
    @include font-smoothing(on);
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5em;
    position: absolute;
    height: 100%;
    margin-top: 10vh;
}

.scroll-touch {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
}

body, input, select, textarea {
    transition: all $fast-transition cubic-bezier(0.42, 0, 0.58, 1);
}

a {
    transition: all $fast-transition cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    text-decoration: none;
    color: $white;

    &:hover {
        color: darken($caribbean-green, 5%);
        text-decoration: none !important;
        outline: none !important;
    }

    &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $white;
    }
}

button {
    transition: all $fast-transition cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;

    &:hover, &:active, &:focus {
        outline: none !important;
        text-decoration: none !important;
        color: $shark;
    }
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0;
    font-size: 1em;
    line-height: 1.6em;
    color: $white;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-weight: 400;
    line-height: 1.3em;
    font-family: $raleway-family;

    a {
        color: inherit;
        text-decoration: none;
    }

    small {
        color: inherit;
    }
}

h1 {
    font-size: 60px;
    font-weight: 400;
}

h2 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

h4 {
    font-size: 25px;
    margin-bottom: 25px;
}

h5 {
    font-size: 20px;
    margin-bottom: 25px;
}

h6 {
    font-size: 15px;
    margin-bottom: 25px;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

.clear {
    clear: both;
}

.display-none {
    display: none !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.opacity-0 {
    opacity: 0 !important;
    visibility: hidden !important;
}

.opacity-03 {
    opacity: 0.3 !important;
}

.opacity-1 {
    opacity: 1 !important;
    visibility: visible !important;
}

.index-999 {
    z-index: -999 !important;
}

.tooltip.top {
    .tooltip-arrow {
        border-top-color: $shark;
    }
}

.tooltip.right {
    .tooltip-arrow {
        border-right-color: $shark;
    }
}

.tooltip.bottom {
    .tooltip-arrow {
        border-bottom-color: $shark;
    }
}

.tooltip.left {
    .tooltip-arrow {
        border-left-color: $shark;
    }
}

.tooltip {
    .tooltip-inner {
        background: $shark;
        color: $caribbean-green;
        font-family: $montserrat-family;
        font-weight: 400;
    }
}

::selection {
    color: $white;
    background-color: $caribbean-green;
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */

.light-btn {
    background: transparent;
    font-weight: 600;
    padding: 0.7em 2em;
    color: $white;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgba($white, 0.4);

    &:hover {
        background: transparent;
        color: $white;
        border-color: $white;
    }
}

.action-btn {
    background: $caribbean-green;
    font-weight: 600;
    padding: 0.7em 2em;
    color: $white;
    display: inline-block;
    border: 1px solid $caribbean-green;

    &:hover {
        background: $white;
        color: $shark;
        border-color: $white;
    }
}

.global-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: visible;
    width: 100%;
    z-index: 0;
    transform: scale(1.2);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    &.hide-overlay {
        opacity: 0.4 !important;
    }

    .overlay {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh !important;
        transform-style: preserve-3d;
        transition: all 3s cubic-bezier(0.215, 0.61, 0.355, 1);
        border-right: 1px solid darken($ebony-clay, 5%);

        &.skew-part {
            @include skew(-25, 0);
        }

        .overlay-dash {
            background: url(../img/overlay.svg);
            background-size: cover;
            background-position: center center;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh !important;
        }
    }
}

.brand-logo {
    position: relative;
    max-width: 150px;
    margin: auto;
    margin-bottom: 15px;
}

.polyfy-title {
    padding: 0 15px 0 0;
    margin-left: -10px;
    color: $white;
    text-transform: none;
    font-family: $pacifico-family;
}

.text-countdown {
    font-family: $montserrat-family;
    font-size: 40px;

    #getting-started {
        display: inline-block;

        .second-timer {
            min-width: 70px;
            text-align: left !important;
            display:inline-block;
        }

    }
}

#home-wrap {
    position: fixed;
    background: transparent;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    opacity: 0;
    z-index: 0;
    transform-style: preserve-3d;
    transition: all 0.6s $ease-in-out-cubic;

    &:before {
        content: " ";
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        background: rgba($ebony-clay, 0.8);
        z-index: 0;
        outline: none;
    }

    &.hide-left {
        width: calc(50% - 50px) !important;
    }

    .content {
        position: absolute;
        z-index: 0;
        left: 0;
        padding: 0;
        top: 50vh;
        width: 100%;
        padding: 0 5%;
        transition: all $medium-transition cubic-bezier(0, 0, 0.58, 1);
        transform: translateY(-50%);
        text-align: center;
        @include font-smoothing;
        opacity: 1;
        visibility: visible;

        p {
            font-weight: 400;
            line-height: 1.4em;
            font-family: $raleway-family;
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }
}

.vegas-slide , .vegas-timer {
    width: 50vw;
}

/* ------------------------------------- */
/* 3. More informations ................ */
/* ------------------------------------- */

#info-wrap {
    background: $white;
    overflow: auto;
    color: $black;
    margin: 0;
    z-index: 15;
    position: relative;
    width: 50%;
    min-height: 100vh;
    left: 100vw;
    opacity: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: all 0.6s $ease-in-out-cubic;

    h1, h2, h3, h4, h5, h6 {
        color: $black;
        font-size: 50px;
    }

    p {
        color: $dove-gray;
    }

    &.show-info {
        @include transform-phly(-100%, 0, 0);
        opacity: 1;
    }

    .center-text {
        vertical-align: middle;
        display: table-cell;
        text-align: center;
    }

    .content {
        width: 100%;
        padding: 8% 10% 0;
        text-align: left;
        @include font-smoothing;
        opacity: 1;
        visibility: visible;

        h1, h2, h3, h4, h5, h6 {
            color: $raven;
        }

        h3 {
            font-family: $montserrat-family;
            text-transform: uppercase;
            font-weight: 700;
        }

        span.separator {
            display: block;
            height: 2px;
            background: $white;
            width: 100%;
            margin: 50px 0 60px;
        }

        p {
            color: $dove-gray;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;

        &.darky {
            color: $light-black;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $montserrat-family;
        }

        &.lighty {
            color: $light-gray;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $montserrat-family;
        }
    }

    p {
        color: $dove-gray;
    }

    .hero {
        position: relative;
        background-color: $white;
        height: 25vh;
        display: table;
        width: 100% !important;
        padding: 8% 10%;
        text-align: center;
    }

    .dark-hero {
        position: relative;
        background-color: $ebony-clay;
        height: 25vh;
        display: table;
        width: 100% !important;
        padding: 8% 10%;
        text-align: center;

        &:after {
            z-index: 5;
            position: absolute;
            top: 98.1%;
            left: 50%;
            margin-left: -50px;
            content: '';
            width: 0;
            height: 0;
            border-top: solid 50px $ebony-clay;
            border-left: solid 50px transparent;
            border-right: solid 50px transparent;
        }
    }

    .content {
        padding: 0;
    }

    .content-form {
        padding: 8% 10%;
        background: $athens-gray;
    }

    .no-padding-bottom {
        padding-bottom: 0;
    }

    .center-text {
        vertical-align: middle;
        display: table-cell;
    }

    .photo-line {
        figure {
            padding: 0;
            margin: 0;
            width: 50%;
            box-shadow: 0 0 1px rgba($black, 0.2);
            background: $black;

            &.clear-second {
                clear: both;
            }

            a.box-picture {
                overflow: hidden;
                width: 100%;
                display: block;
                position: relative;
                background: $ebony-clay;

                img {
                    opacity: 0.6;
                    transform: scale(1.05);
                }

                .text-center {
                    bottom: 50%;
                    line-height: 1;
                    height: auto;
                    width: 100%;
                    text-align: center;
                    left: 0;
                    opacity: 1;
                    position: absolute;
                    transform: translateY(50%);
                    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);

                    h4 {
                        color: $white;
                        font-family: $raleway-family;
                        margin-bottom: 0;
                        text-transform: uppercase;
                        font-size: 1em;
                        letter-spacing: 2px;
                    }

                    p {
                        color: $light-gray;
                        font-weight: 600;
                        font-size: 0.8em;
                    }
                }
            }

            a.box-picture:hover {
                background: $ebony-clay;

                img {
                    opacity: 1;
                    transform: scale(1);
                }

                p {
                    opacity: 1;
                }
            }

            img {
                overflow: hidden;
                transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                backface-visibility: hidden;
                transform: scale(1);
                transition: all $long-transition cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            figcaption {
                display: none;
            }

            .photo-details {
                background: $white;
                padding: 1em;
                text-align: left;
                color: $dove-gray;

                h4 {
                    font-weight: 800;
                    margin-bottom: 1em;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    opacity: 1;
                    color: $dove-gray;
                }

                span.border {
                    display: block;
                    height: 2px;
                    background: $caribbean-green;
                    width: 10%;
                    margin: 0.8em 0 1em;
                }

                p {
                    font-size: 0.9em;
                    color: $dusty-gray;
                    font-weight: 500;
                    line-height: 1.2;
                }
            }
        }
    }
}

.command-info-wrap {
    position: fixed;
    top: 0;
    left: 100vw;
    opacity: 0;
    z-index: 5;
    color: $white;
    padding: 0;
    background: $shark;
    width: 50%;
    height: 100vh;
    border: none;
    transform-style: preserve-3d;
    transition: all 0.6s $ease-in-out-cubic;

    &.show-command {
        @include transform-phly(calc(-100% - 50px), 0, 0);
        opacity: 1 !important;
    }

    button.to-close {
        background: $shark;
        font-size: 1.5em;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 50px;
        height: 100%;
        line-height: 100%;
        text-align: center;
        transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

        i {
            transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
        }

        &:hover {
            background: darken($shark, 4%);
            color: $white;

            i {
                transform: rotate(90deg);
            }
        }
    }

    .to-scroll {
        background: transparent;
        font-size: 1.5em;
        border: none;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 50px;
        height: 50px;
        line-height: 40px;
        text-align: center;
        transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

        &:hover {
            color: $white;
        }

        &.hide-scroll {
            bottom: -50px !important;
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}


.scroll-down {
    display: inline-block;
    content: "";
    -webkit-animation: scroll 1.3s ease-out infinite forwards;
    -moz-animation: scroll 1.3s ease-out infinite forwards;
    animation: scroll 1.3s ease-out infinite forwards;
}

.widget-angle-top-right {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-top: 50px solid $shark;
    border-left: 50px solid transparent;

    span.icon-text {
        font-family: $montserrat-family;
        font-weight: 700;
        position: absolute;
        top: -47px;
        left: -22px;
    }
}

.widget-angle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-bottom: 50px solid $shark;
    border-left: 50px solid transparent;

    span.icon-text {
        font-family: $montserrat-family;
        font-weight: 700;
        position: absolute;
        top: 23px;
        left: -22px;
    }
}

.widget-angle-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-bottom: 50px solid $shark;
    border-right: 50px solid transparent;

    span.icon-text {
        font-family: $montserrat-family;
        font-weight: 700;
        position: absolute;
        top: 23px;
        left: 7px;
    }
}

.widget-angle-top-left {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    padding: 0;
    color: $caribbean-green;
    font-size: 1em;
    border-top: 50px solid $shark;
    border-right: 50px solid transparent;

    span.icon-text {
        font-family: $montserrat-family;
        font-weight: 700;
        position: absolute;
        top: -47px;
        left: 7px;
    }
}

.mCSB_scrollTools {
    /* Scrollbar */
    position: absolute;
    width: 5px;
    height: auto;
    left: auto;
    top: 0;
    right: 0px;
    bottom: 0;
    z-index: 25;
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);

    .mCSB_draggerRail {
        width: 5px;
        height: 100%;
        margin: 0;
        border-radius: 0;
        background-color: rgba($raven, 1);
        filter: "alpha(opacity=40)";
        -ms-filter: "alpha(opacity=40)";
    }

    .mCSB_dragger .mCSB_dragger_bar {
        /* the dragger element */
        position: relative;
        width: 5px;
        height: 100%;
        margin: 0 auto;
        border-radius: 0;
        text-align: center;
    }

    .mCSB_dragger .mCSB_dragger_bar {
        background-color: rgba($caribbean-green, 1);
    }
}

/* ------------------------------------- */
/* 4. Newsletter ....................... */
/* ------------------------------------- */

.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba($tuna, 0.9);
    opacity: 0;
    transition: opacity 0.3s;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    width: 50%;
    max-width: 500px;
    min-width: 290px;
    background: transparent;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
    overflow: hidden;
    background: url(../img/background-newsletter.jpg) center;
    background-size: cover;
    // background: $ebony-clay;
    border: 10px solid $shark;
    transition: all 3s $ease-in-out-cubic;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border: 1px solid $caribbean-green;
        background: rgba($ebony-clay, 0.8);
    }
}

.dialog--open .dialog__content {
    pointer-events: auto;
}

.dialog {
    .close-newsletter {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: transparent;
        width: 40px;
        height: 40px;
        line-height: 35px;
        color: $white;
        font-size: 20px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .dialog-inner {
        padding: 90px 70px;
        overflow: hidden;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h4 {
            color: $white;
            font-size: 40px;
            font-family: $montserrat-family;
            font-weight: 700;
        }

        p {
            color: $athens-gray;
            font-size: 16px;
        }
    }
}

#subscribe {
    p {
        font-weight: 400;
    }

    #notifyMe {
        max-width: 450px;
        margin: auto;
        margin-top: 2em;

        ::placeholder {
            color: $dove-gray !important;
        }

        .form-group {
            margin-bottom: 1em;

            .fa {
                color: $raven;
                position: absolute;
                text-align: center;
                top: 15px;
                left: 15px;
            }

            .form-control {
                text-align: center;
                background: $white;
                border: none;
                border-radius: 0;
                box-shadow: none;
                height: 50px;
                font-weight: 600;
                outline: medium none;
                padding: 0 1em;
                width: 100%;
                margin: auto;
                color: $black;
                transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

                &:hover, &:focus {
                    box-shadow: none;
                }
            }

            button.submit {
                border: 2px solid $caribbean-green;
                border-radius: 0;
                font-family: $open-family;
                background: $caribbean-green;
                color: $white;
                height: 50px;
                padding: 1em 0;
                font-size: 1em;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                line-height: 1;
                width: 70%;
                margin: 20px auto 0;
                transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

                &:hover {
                    background: darken($caribbean-green, 5%);
                    color: $white;
                }
            }
        }
    }

    .block-message {
        min-height: 50px;
        position: absolute;
        bottom: -100px;
        width: 100%;
        left: 0;
        padding: 15px;
        background: transparent;
        transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

        &.show-block-error {
            bottom: 0;
            background: $torch-red;
        }

        &.show-block-valid {
            bottom: 0;
            background: $green-alert;
        }
    }

    p.notify-valid {
        color: $white;
        text-transform: none;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
    }
}

.dialog__overlay {
    transition: all 0.3s $ease-in-out-cubic;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
    animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
    animation-name: anim-close;
}

@keyframes anim-open {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes anim-close {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
}


/* ------------------------------------- */
/* 5. Contact .......................... */
/* ------------------------------------- */

.info-contact {
    margin-bottom: 0;

    .item-map {
        padding: 0;

        &:first-child {
            padding-left: 15px;
        }

        &:last-child {
            padding-right: 15px;
        }

        .contact-item {
            padding: 15px 0;
            font-size: 14px;
            text-align: center;

            i {
                color: $caribbean-green;
                font-size: 2em;
            }

            a {
                font-weight: 600;
                color: $raven;

                &:hover {
                    color: $caribbean-green;
                }
            }
        }
    }
}

#contact-form {

    ::placeholder {
        color: $dove-gray !important;
    }
        
    .form-control {
        background: $white;
        border: none;
        border-radius: 0;
        box-shadow: none;
        font-weight: 400;
        outline: medium none;
        height: 40px;
        width: 100%;
        color: $black;
        transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
        text-align: left;

        &:hover, &:focus {
            box-shadow: none;
        }
    }

    textarea.form-control {
        min-height: 150px;
    }

    button#valid-form {
        font-weight: 400;
        padding: 1em 2em;
        font-size: 1em;
        display: block;
        margin: 0 auto 0;
        background: $caribbean-green;
        color: $white;
        border-radius: 0;
        font-weight: 700;
        width: 100%;
        line-height: 10px;

        &:hover {
            background: darken($caribbean-green, 5%);
            color: $white;
        }
    }
}

#block-answer {
    min-height: 60px;
    margin-top: 1em;
    text-align: center;
    color: $raven;
}

.success-message, .error-message {
    color: $raven;

    p {
        color: $raven !important;
    }

    .ion-checkmark-round {
        color: $green-alert;
    }
}

.error-message {
    .ion-close-round {
        color: $torch-red;
    }
}

/* ------------------------------------- */
/* 6. Social Icons ..................... */
/* ------------------------------------- */

.social-icons {
    position: absolute;
    left: 0;
    bottom: 2%;
    padding: 0 5%;
    display: inline-block;
    text-align: center;
    width: 100%;
    z-index: 9;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);

    i {
        color: $white;
        transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
    }

    a {
        color: rgba($white, 1);
        width: 40px;
        line-height: 40px;
        letter-spacing: 0;
        background: transparent;
        font-size: 1em;
        font-weight: 300;
        height: 40px;
        display: inline-block;
        text-align: center;
        margin-right: 2px;
        border: none;
        transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);

        &:hover {
            color: rgba($caribbean-green, 1);
            background: transparent;

            i {
                color: rgba($caribbean-green, 1);
                transform: scale(1.2);
            }
        }
    }
}

/* ------------------------------------- */
/* 7. Footer/Copyright ................. */
/* ------------------------------------- */

footer {
    padding: 10px 0;
    background: transparent;
    text-align: center;

    p {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $raven;
    }
}

/* ------------------------------------- */
/* VARIANT STARS ....................... */
/* ------------------------------------- */

#stars {
    width: 1px;
    height: 1px;
    margin-left: 0;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s infinite linear;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    margin-left: 0;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s infinite linear;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    margin-left: 0;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s infinite linear;

    &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}


/* ------------------------------------- */
/* VARIANT CLOUD ....................... */
/* ------------------------------------- */

#cloud-animation {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    position: fixed;

    img {
        width: 100%;
        left: 0;
        top: 10%;
        position: absolute;
    }
}

@keyframes animCloud {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}


#cloud1 {
    animation: animCloud 25s infinite linear;
}

#cloud2 {
    animation: animCloud 35s infinite linear;
}

#cloud3 {
    animation: animCloud 45s infinite linear;
}

#cloud4 {
    animation: animCloud 55s infinite linear;
}

/* ------------------------------------- */
/* VARIANT YOUTUBE ..................... */
/* ------------------------------------- */

.mbYTP_wrapper {
    width: 100vw !important;
    z-index: 0 !important;
    min-width: 0 !important;
    left: 0 !important;
}

.ytb-overlay {
    background: rgba($ebony-clay, 0.6);
}

.light-overlay {
    background: rgba($ebony-clay, 0.5) !important;
}

#player-nav {
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    z-index: 1;

    li {
        display: inline-block;
        background: rgba($caribbean-green, 0.4);
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 0;
        transition: all $fast-transition cubic-bezier(0.42, 0, 0.58, 1);

        &:hover {
            background: rgba($caribbean-green, 0.8);

            a {
                color: $white;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 15px;
            color: rgba($white, 0.5);
        }
    }
}

/* ------------------------------------- */
/* VARIANT GRADIENT .................... */
/* ------------------------------------- */

.no-background {
    background: none !important;
}

#gradient {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    padding: 0px;
    margin: 0px;
}

/* ------------------------------------- */
/* VARIANT FLAT SURFACE SHADER ......... */
/* ------------------------------------- */

#fss-part {
    background: transparent !important;
}

#container {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
}

.fss-wrap {

    &:before {
        background: rgba($ebony-clay, 0.5) !important;
    }
}

.back-fss {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* ------------------------------------- */
/* VARIANT RAIN ........................ */
/* ------------------------------------- */

#rainy {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#home-wrap {

    &:before {
        background: rgba($ebony-clay, 0.5) !important;
    }
}

/* ------------------------------------- */
/* VARIANT SQUARE ...................... */
/* ------------------------------------- */

#square-canvas {
    display: block;
    position:fixed;
    top:-100px;
}

/* ------------------------------------- */
/* VARIANT STAR WARS ................... */
/* ------------------------------------- */

#starfield {
    position: fixed !important;
}

/* ------------------------------------- */
/* GALLERY PHOTOS ...................... */
/* ------------------------------------- */

.pswp__bg {
    background: $ebony-clay;
}

.pswp__caption h4 {
    margin-bottom: 10px !important;
}

/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */

/* Large Devices, Wide Screens */
@include desktop {}


/* Notebook devices */
@include notebook {}


/* Medium Devices, Desktops */
@include medium {
    .global-overlay {
        &.hide-overlay {
            opacity: 1 !important;
        }

        .overlay {
            left: 0;
            width: 100%;
            height: 100%;

            &.skew-part {
                @include skew(0, 0);
            }
        }
    }

    #stars, #stars2, #stars3 {
        margin-left: 0 !important;
    }

    .command-info-wrap {
        display: none !important;
    }

    #home-wrap {
        position: relative;
        width: 100%;
        height: auto;
        padding: 100px 0 150px;

        &.hide-left {
            width: 100% !important;
        }

        .content {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            top: auto;
            text-align: center;
        }
    }

    .social-icons {
        left: 0;
        bottom: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    #info-wrap {
        position: relative;
        transform: translate3d(0, 0, 0);
        top: 0;
        width: 100%;
        opacity: 1;
        left: 0;

        &.show-info {
            transform: translate3d(0, 0, 0);
        }
    }

    .mCSB_scrollTools {
        display: none;
    }

    .mCSB_scrollTools-left {
        right: 0 !important;
    }

    .vegas-slide , .vegas-timer {
        width: 100vw;
    }
}


/* Small Devices, Tablets */
@include tablet {
    .light-btn {
        max-width: 70%;
        min-width: 60%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .action-btn {
        max-width: 70%;
        min-width: 60%;
    }

    .center-text {
        h3 {
            font-size: 40px !important;
        }
    }

    .photo-line {
        figure {
            padding: 0;
            width: 100% !important;
            box-shadow: 0 0 1px rgba($black, 0.2);
        }
    }

    .info-contact {
        .item-map {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .dialog__content {
        width: 80%;
        max-width: 80%;
        min-width: 75%;
    }

    .dialog {
        .dialog-inner {
            padding: 40px 20px 90px;
            overflow: hidden;
        }
    }
}


/* Extra Small Devices, Phones */
@include phone {
    #home-wrap {
        padding: 50px 0 100px;

        .content {
            padding: 0 3%;

            p {
                font-size: 16px;
            }
        }

        &.minimal-phone {
            height: 100vh;
        }
    }

    #contact-form {
        margin-top: 50px;
    }

    h1.text-intro {
        font-size: 30px;
    }

    h2.text-intro {
        font-size: 18px;
    }

    .center-text {
        h3 {
            font-size: 30px !important;
        }
    }

    .text-countdown {

        #getting-started {

            .second-timer {
                min-width: 55px;
            }

        }
    }

    .light-btn {
        max-width: 80%;
        min-width: 70%;
    }

    .action-btn {
        max-width: 80%;
        min-width: 70%;
    }

    .dialog__content {
        width: 95%;
        max-width: 95%;
        min-width: 75%;
    }

    .dialog {
        .close-newsletter {
            top: 2px;
            right: 5px;
        }

        .dialog-inner {
            padding: 40px 20px 50px;

            h4 {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }
    }

    #subscribe {
        .block-message {
            padding: 5px 2px;
        }

        p.notify-valid {
            font-size: 12px;
        }
    }
}


/* Only for tablet in landscape mode */
@include landscape-tablet {}


/* Only for phone in landscape mode */
@include landscape-phone {
    #home-wrap {
        padding: 50px 0 100px;
    }

    h1.text-intro {
        font-size: 30px;
    }

    h2.text-intro {
        font-size: 18px;
    }

    #contact-form {
        margin-top: 30px;
    }

    .dialog__content {
        width: 100%;
        max-width: 100%;
        min-width: 75%;
    }

    .dialog {
        .close-newsletter {
            top: 2px;
            right: 5px;
        }

        .dialog-inner {
            padding: 40px 20px 50px;

            h4 {
                font-size: 25px;
                margin-bottom: 5px;
            }
        }
    }

    #subscribe {
        #notifyMe {
            margin-top: 10px;

            .form-group {
                .form-control {
                    width: 70%;
                    margin: 0;
                    float: left;
                }

                button.submit {
                    width: 30%;
                    margin: 0;
                    float: left;
                }
            }
        }

        .block-message {
            padding: 5px 2px;
        }

        p.notify-valid {
            font-size: 12px;
        }
    }
}