<script>
    //import DataTable from "vuetable-2";
    import datatableCss from '../utilities/css/DatatableCss'
    import WithResearchBar from './WithResearchBar';
    import VuetableLoading from './VuetableLoading'; 
    import VuetablePagination from './VuetablePagination';

    export default {
       mixins:[WithResearchBar, VuetableLoading, VuetablePagination],
       props:
       {

       },
        data(){
            return{
                 css: datatableCss,
                 checkedAll: false,
                 data : [],
                 perPage: 10,
                 loader : null,
                 isLoading:false,

                moreParams:{
                    search : "",
                    per_page : 10,
                },
                pagination : {
                    current_page: "",
                    data: [],
                    first_page_url: "",
                    from: "",
                    last_page: "",
                    last_page_url: "",
                    links:[],
                    next_page_url: "",
                    path: "",
                    per_page: "",
                    prev_page_url:null,
                    to:"",
                    total:""
                 },
                 showModal: false,
                 vuetable : null,

                 messageEntityAdded : "<span>Entité ajoutée <strong>avec succès</strong></span>",
                 storeUrl: "/admin/entities/",

                 messageEntityUpdated : "<span>Entité modifiée <strong>avec succès</strong></span>",
                 upadteUrl: "/admin/entities/",

                 confirmMessageSelectionOnDelete : "Voulez-vous supprimer l'ensemble des entités sélectionnées ?",
                 messageSelectionDeleted : "<span>Sélection supprimée <strong>avec succès</strong></span>",
                 confirmTitleSelectionOnDelete : "Suppréssion de groupe",
                 selectionUrl : "/admin/entities/delete?ids=",

                 messageEntityDeleted : "<span>Entité supprimée <strong>avec succès</strong></span>",
                 confirmTitleEntityOnDelete : "Retrait de la liste",
                 confirmMessageEntityOnDelete : "Voulez-vous supprimer cette entité ?",
                 messageOnerrorOnDeletedEntity : "La supprésion a échoué.",
                 messageOnerrorOnDeletedSelection : "La supprésion de groupe a échoué.",
                 deleteUrl: "/admin/entities/",

            }
        },
        mounted() {
        },
        computed : 
        {
            // Url d'export en excel
            excelUrl()
           {
             var additionalQuery = "search="+this.moreParams.search
             return '/users/export?format=excel&'+additionalQuery
           },

            showDataTable(){
                 if(this.tableIsLoading == true)
                 {
                     return false
                 }
                 else
                 {
                     return (this.hasAnyFilterOrSearchSetAndNoData) ? false :true
                 }
            },
            showSelectionActionPanel(){
              return  this.dataAvailable.length > 1  && !this.tableIsLoading
            },
            // Renvoit la liste des villes
            dataPagination()
            {
               var vuetableIsSet = this.vuetable ? (this.vuetable.tablePagination ? true : false ) : false
               return vuetableIsSet ? this.vuetable.tablePagination : this.pagination
            },
            // Renvoit la liste des villes
            dataAvailable()
            {
               return this.dataPagination.data
            },
            // Renvoit la liste des entités sélectionnées
            selectedEntities()
            {
                if(this.vuetable)
                {
                  var selected = this.vuetable ? this.vuetable.selectedTo : []
                  return this.dataAvailable.filter(item => selected.includes(item.id))
                }
                else
                {
                    return []
                }
            },
            // Indique si une filtre est appliqué
            anyFilterSet(){
                var result = false
                var vm = this
                Object.keys(this.moreParams).forEach(function(key,index) {
                    if(vm.moreParams[key] != "" && key !="search" && key !="per_page")
                    {
                      result = true
                    }
                    // index: the ordinal position of the key within the object 
                });
                return result;
            },
            // Indique si un filtre et la recherche sont
            hasFilterAndSearchSet(){

                return this.anyFilterSet && this.moreParams.search !="";
            },
            // Indique si un filtre ou la recherche sont actives et des données sont absentes
            hasAnyFilterOrSearchSetAndNoData(){

                return (this.anyFilterSet || this.moreParams.search !="") && this.dataAvailable.length == 0   ;
            },
            // Indique si un filtre ou la recherche sont actives et des données sont absentes
            hasNoData(){
                
                return ((this.anyFilterSet == false ) && this.moreParams.search =="") && this.dataAvailable.length == 0  ;
            }
        },
        methods:{

           dataManager(sortOrder, pagination)
           {
                if (this.data.length < 1) return;

                let local = this.data;

                // sortOrder can be empty, so we have to check for that as well
                if (sortOrder.length > 0) {
                    local = _.orderBy(
                    local,
                    sortOrder[0].sortField,
                    sortOrder[0].direction
                    );
                }

                pagination = this.vuetable.makePagination(
                    local.length,
                    this.perPage
                );
                let from = pagination.from - 1;
                let to = from + this.perPage;

                return {
                    pagination: pagination,
                    data: _.slice(local, from, to)
                };
            },

            onChangePage(page) {
                this.vuetable.changePage(page);
            },
            // Pagination Per Page event
            onPerPage (nbr_par_page) {
              this.moreParams.per_page = nbr_par_page
              Vue.nextTick( () => this.vuetable.refresh())
            },

            /**
             * Appel du modal de récapitulatif
             * 
             * @returns void
             */
            callRecapModal()
            {
               this.$refs.recap.showModalOnCreate(null)
            },
            
            /**
             * Supprime un utilisateur
             * 
             * @param   {integer}  id - L'id de la facture à supprimer.
             * @returns void
             */
            deleteEntity(e, config = {})
            {
              onConfirm(this.confirmMessageEntityOnDelete, this.confirmTitleEntityOnDelete, config)
              .then(result => {
                  //On réinitialise le chargement
                  if(result)
                  {
                    axios.delete(this.deleteUrl+""+e).then((response) => 
                    { 
                        // on rafraichit la page de donnée actuelle
                        this.vuetable.refresh()
                        //on notifie l'effectivité de la suppréssion
                        flash(this.messageEntityDeleted)
                        //On réinitialise le chargement
                    },
                    (error) =>
                    {
                        this.isLoading = false
                        var codeHasMessage = statusCodeError.hasOwnProperty(error.response.status)
                        var code = error.response.status
                        // Message principal
                        var message = this.messageOnerrorOnDeletedEntity
                        // On actualise le message en fonction du code http
                        message = codeHasMessage ? (message + "<br>" +statusCodeError[code]) : message
                        // On flashe le message
                        flash(message,'error')
                    });
                  }
              })
              .catch(error => {
                  reject(error);
              });
            },

            /**
             * Supprime une sélection d'pays
             * 
             * @returns void
             */
            deleteSelection(config = {})
            {
              onConfirm(this.confirmMessageSelectionOnDelete, this.confirmTitleSelectionOnDelete, config)
              .then(result => {
                  //On réinitialise le chargement
                  if(result)
                  {
                    var ids = _.map(this.selectedEntities, 'id');
                    ids = ids.join(',');

                    axios.delete(this.selectionUrl+""+ids).then((response) => 
                    { 
                        // on rafraichit la page de donnée actuelle
                        this.vuetable.refresh()
                        //on notifie l'effectivité de la suppréssion
                        flash(this.messageSelectionDeleted)
                        //On réinitialise le chargement
                    },
                    (error) =>
                    {
                        this.isLoading = false
                        var codeHasMessage = statusCodeError.hasOwnProperty(error.response.status)
                        var code = error.response.status
                        // Message principal
                        var message = this.messageOnerrorOnDeletedSelection
                        // On actualise le message en fonction du code http
                        message = codeHasMessage ? (message + "<br>" +statusCodeError[code]) : message
                        // On flashe le message
                        flash(message,'error')
                    });
                  }
              })
              .catch(error => {
                  reject(error);
              });
            },
            /**
             * Affiche le modal de création d'un nouveau pays
             * 
             * @param   {facture}  facture  L'id de la facture à supprimer.
             * @returns void
             */
            nouvelEntityModal()
            {
                this.showModal = true
                window.event.$emit('add-entity-event')
            },
            
            /**
             * Affiche le modal de création d'une nouvelle facture
             * 
             * @param   {facture}  facture  L'id de la facture à supprimer.
             * @returns void
             */
            updateEntityModal(entity)
            {
                window.event.$emit('update-entity-event', {entity})
            },
            /**
             * Evenement indiquant l'ajout d'un nouveau utilisateur
             * 
             * @param   {Object} e Objet passé par l'event.
             * @returns void
             */
            newEntityAdded(e)
            {
                this.vuetable.refresh()
                flash(this.messageEntityAdded)
            },

            /**
             * Evenement indiquant l'ajout d'un nouveau utilisateur
             * 
             * @param   {Object} e Objet passé par l'event.
             * @returns void
             */
            entityUpdated(e)
            {
                const index = this.vuetable.tableData.findIndex((item) => item.id == e.id)
                this.$set(this.vuetable.tableData, index, e)
                flash(this.messageEntityUpdated)
            },

            /**
             * Retiter les filtres sur la liste
             * 
             * @param   {Object} e Objet passé par l'event.
             * @returns void
             */
            removeFilters(reset = true)
            {
                this.moreParams.role_id = ""
                this.moreParams.actif = ""
                Vue.nextTick( () => this.vuetable.refresh())
            },
            
            /**
             * Evenement indiquant l'ajout d'une ville dans le filtre
             * 
             * @param   {Object} e Objet passé par l'event.
             * @returns void
             */
            checkAllToggled(e)
            {
                let idColumn = "id"
                if (e) {
                    this.vuetable.tableData.forEach( (dataItem) => {
                    this.vuetable.selectId(dataItem[idColumn])
                    })
                } else {
                    this.vuetable.tableData.forEach( (dataItem) => {
                    this.vuetable.unselectId(dataItem[idColumn])
                    })
                }
            },
            onCheckAllToggled(e)
            {
                this.checkedAll = e
                this._computedWatchers.selectedEntities.run();
                this._computedWatchers.showSelectionActionPanel.run();
                this.$forceUpdate()
            },
            onCheckToggled(bool, more)
            {
               if(!bool) this.checkedAll = bool
               this._computedWatchers.selectedEntities.run();
               this._computedWatchers.showSelectionActionPanel.run();
               this.$forceUpdate()
            },
            
            /**
             * Recupère un pays à travers sa province
             * 
             * @param   {Object} pays Un pays donnée.
             * @returns void
             */
            refreshComputedWatchers(pays)
            {
                this._computedWatchers.dataPagination.run();
                this._computedWatchers.dataAvailable.run();
            },
        },
        watch: {
            vuetable() {
                this._computedWatchers.dataPagination.run();
                this._computedWatchers.dataAvailable.run();
            }
        },
    }
</script>

<style lang="css">
  .vuetable-body tr td 
  {
    vertical-align: middle !important;
  }

</style>