<template>

</template>

<script>

    export default {
        data(){
            return{
          }
        },
        methods:
        {
           
            onChangePage (page) {
              this.$refs.vuetable.changePage(page)
            },
            onPerPage (nbr_par_page) {
              this.$refs.vuetable.$emit('vuetable:per-page',nbr_par_page)
            },
            /**
             * Fixe la pagination après écoute de l'évènement
             * 
             * @param   {Object} paginationData Donnée de la pagination.
             * @returns void
             */
            onPaginationData (paginationData) {
             this.$refs.pagination.setPaginationData(paginationData)
             
            },
            
        },
        watch:
        {
        
        }
        
    }
</script>


