<template>

</template>

<script>

    export default {
        data(){
            return{
                tableIsLoading:false,
                init: false
          }
        },
        methods:
        {
           
            onCheckAllToggled()
            {
               
                this.tableIsLoading = true

            },
            onCheckToggled()
            {
                 this.tableIsLoading = false
                 this.init = true
                 this._computedWatchers.dataPagination.run();
                 this.$forceUpdate();
            }
            
        },
        watch:
        {
        
        }
        
    }
</script>


