<template>

</template>

<script>

    export default {
        data(){
            return{
                tableIsLoading:false,
                vuetable:null,
                init: false
          }
        },
        methods:
        {
           
            onVuetableLoading()
            {
               
                this.tableIsLoading = true

            },
            onVuetableLoaded()
            {
                 this.tableIsLoading = false
                 this.init = true
                 this.vuetable = this.$refs.vuetable
                 this.$forceUpdate();
            }
            
        },
        watch:
        {
        
        }
        
    }
</script>


