<template>

</template>

<script>

    export default {
        data(){
            return{
                pageInit:false,
                vuetable : null,
                moreParams:{
                  search:"",
                }

          }
        },
        created()
        {
            
        },
        mounted() {
                this.vuetable = this.$refs.vuetable
                window.event.$on('filter-set', eventData => this.onFilterSet(eventData))
                window.event.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
          
        },
        methods:
        {

            onFilterSet (filterText)
            {
                this.moreParams.search = filterText
                Vue.nextTick( () => this.vuetable.refresh())
            },
            onFilterReset () {
                this.moreParams.search = ""
                Vue.nextTick( () => this.vuetable.refresh())
            },
            
        },
        watch:
        {
        
        }
        
    }
</script>


